@media screen and (max-width:630px) {
    
    
    #projects {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:1157px) and (min-width:991px) {
    
    
    #choose .row p {
        font-size: 11pt;
    }
}

@media screen and (max-width:991px) {
    
    .col-md-2 {
        margin-bottom: 25px;
    }
    #services {
        padding-bottom: 0px; 
    }
    
}

@media screen and (max-width:543px) {
    
    
    #work h2 {
       font-size: 16pt; 
    }
    
    #work {
        
        padding-right: 50px;
        padding-left: 50px;
    }
    #footer {
        padding-left: 50px;
    }
    #footer p {
        font-size: 8pt;
    }
}
@media screen and (max-width:2000px) and (min-width:1500px) {
    
    #projects {
        padding-right: 350px;
        padding-left: 350px;
    }
}
@media screen and (max-width:829px) and (min-width:768px) {
    
    .navbar-default .navbar-nav>li>a {
        font-size: 8pt;
    }
}

@media screen and (max-width:768px) {
    .navbar {
      padding: 5px;
        
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
        border-radius: 0;
        text-align: center;
        margin-top: 10px;
    }
    .button button {
        margin-left: 0;
    }
    #slides {
        
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (max-width:1140px) and (min-width:992px) {
    
    .service h3 {
       font-size: 12pt;
    }
}
/*@media screen and (max-width:480px) and (min-width:367px) {
    
    #slides p {
        font-size: 8pt;
        
    }
    #slides h2 {
        font-size: 16pt;
    }
}*/
@media screen and (max-width:991px) {
    
    #services {
        padding: 30px 30px 0px 30px;
    }
    #services .row {
        margin-left: 0px;
    }
}
@media screen and (max-width:400px) {
    
    #someshots {
        font-size: 20pt;
    }
}
@media screen and (max-width:600px) {
    
    #arrow-up {
        bottom: 5px;
        right: 0;
    }
}
