body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-size:border-box;
 
}

@key-frames flash {
    
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

#someshots {
    width: 100%;
    height: 100px;
    padding: 30px;
    background-color: transparent;
    color: #4f4f4f;
    text-align: center;
    font-size: 24pt;
    margin: 20px 0px 10px 0px;
    
}

#projects {
    width: 100%;
    min-height: 650px;
    background-color: transparent;
    padding: 0px 100px 0px 100px;
    
}
.special {
    margin-bottom: 20px;
}
.project1 {
    width: 100%; 
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}
.project2 {
    width: 100%;
    height: 250px;
    position: relative;
}
.col-md-4 img {
    width: 100%;
    height: 100%;
}
.project3 {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    
}
.project4 {
    position: relative;
    width: 100%;
    height: 200px;
}
.col-md-4 {
    margin-right: 0;
}
.project5 {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
}
.project6 {
    position: relative;
    width: 100%;
    height: 150px;
}
h5 {
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 999;
color: black;
    display: none;
    padding: 10px;
    background-color: white;
    
}
#choose {
    width: 100%;
    min-height: 400px;
   background-image: url('images/bg-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 30px;
    color: white;
    font-size: 20pt;
    
    
}
#choose .row {
    margin-top: 60px;
}
#choose .row img {
    margin-bottom: 15px;
}
#choose .row p {
    font-size: 14pt;
}
#work {
    padding: 20px 100px 20px 100px;
    width: 100%;
    min-height: 300px;
    background-color:#f0f0f0;
    text-align: center;
}
 
#projects button {
    position: relative;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
    background-color: #fff;
    color: #63b0e8;
    border-color: #63b0e8;
    padding: 15px 50px 15px 50px;
    margin-bottom: 30px;
    border-radius: 0;
    border-style: solid;
    font-size: 14pt;
    border-radius: 4px;
}
#projects button:hover {
    background-color: #63b0e8;
    color: #fff;
    
}
#projects .row {
    margin-bottom: 80px;
}
#work h2 {
    color: #101010;
    margin-bottom: 50px;
}
#work p {
    color: #a4a4a4;
    font-size: 11pt;
    line-height: 30px;
    margin-bottom: 40px;
}
#work button {
 margin: 0 auto;
     background-color: #63b0e8;
    color: white;
    border-color: #63b0e8;
    padding: 15px 50px 15px 50px;
    margin-bottom: 30px;
    border-radius: 0;
    border-style: solid;
    border-radius: 5px;
    font-size: 14pt;
}
#work button:hover {
      background-color: white;
    color: #63b0e8;
}

#footer {
    width: 100%;
    min-height: 50px;
    padding: 30px 30px 10px 100px;
    background-color: #444649;
}
#footer p {
    float: left;
    
}
.col-md-2 img:hover {
      
}
/*////////////////////////////////////////////////////////*/
#header {
    width: 100%;
    min-height: 768px;
    background-image: url(images/dark3.png),url('images/header-bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    margin-bottom: 50px;    
}
.navbar {
    background-color: transparent;
    background-image: url('images/dark.png');
    border: none;
    border-radius: 0;
    padding: 19px 70px 19px 140px;
}

.navbar-default .navbar-nav>li>a {
    
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #6aafe6;
    transition: 0.5s ease;
}

.navbar-default .navbar-nav>li>a:focus {
    color: white; 
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus {
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    padding: 7px 20px 7px 20px;
    margin-left: 10px;
    margin-top: 7px;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #6aafe6
}
#slides h2 {
    float:left;
    color: white;
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 35px;
}
#slides {
    width: 100%;
    height: 100%;
    padding: 170px 150px 25px 150px;
    float: left;
}
#slides p {
    color: white;
    line-height: 30px;
    font-weight: 100;
    margin-top: 60px;
    font-size: 15px;
}
.button {
    width: 100%;
    height: auto;
    padding: 25px 50px 50px 50px;
}
.button button {
    background-color: #6aafe6;
    border: none;
    border-radius: 9px;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    font-weight: bold;
    height: 50px;
}
.button button:hover {
    
    background-color: white;
    color: #6aafe6;
}
#info {
    width: 100%;
    min-height: 100px;
    padding: 25px;
    text-align: center;
    background-color: transparent
    color: #4f4e54;
}
#header center img {
     animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#info p {
    color: #9b9b9d;
    line-height: 30px;
    font-size: 13pt;
}

#info h2 {
    margin-bottom: 50px;
}

#services {
    width: 100%;
    min-height: 300px;
    padding: 20px 30px 20px 0px;
    text-align: center;
    margin-bottom: 25px;
}
#services h2 {
    margin-bottom: 25px;
    color: #5cab7c;
}
.images {
    width: 100%;
    height: 10%;
}
.service p {
    color: #6c6c6f;
}

.service {
    background-color: white;
    border: 2px solid #d8d8d8;
    margin-right: 10px;
    padding: 25px;
}
.service h3 {
    font-size: 14pt;
}

#special {
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-weight: 900;
    color: #5cab7c;
    margin-bottom: 20px;
}

#scroll-top {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: white;
}
#scroll-top img {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#arrow-up {
    position: fixed;
    bottom: 25px;
    right: 50px;
    padding: 10px;
    z-index: 99;
    cursor: pointer;
    display: none;
}
#arrow-up img {
    width: 100%;
    height: 100%;
}

